@import '~materialize-css/dist/css/materialize.min.css';
.auth__container,
.reg__container {
  background: #ffffff;
  box-shadow: 0px 4px 18px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
  font-family: 'Didact Gothic', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #333333;
  padding: 20px;
  width: 650px;

  .title {
    font-weight: 600;
    font-size: 30px;
    line-height: 45px;
    letter-spacing: 0.005em;
  }
  .text {
    font-weight: 400;
    font-size: 16px;
    margin-bottom: 30px;
    .reg {
      color: #5db678;
      margin: 0;
      display: inline-block;
      cursor: pointer;
    }
  }
  .footer-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 40px;
    .button {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      padding: 12px 16px;
      background: linear-gradient(180deg, #25af86 0%, #7cd46f 100%);
      border-radius: 24px;
      border: 1px solid #ffffff;
      width: 218px;
      height: 48px;
      color: #ffffff;
      &:focus {
        outline: none;
        border: 1px solid #ffffff;
        box-shadow: 0px 4px 10px rgba(93, 182, 120, 0.5);
      }
      &[disabled] {
        background: linear-gradient(180deg, #6a6d6c 0%, #9b9c9b 100%);
      }
    }
    /* .info-text {
      } */
  }
}

.auth__container {
  .form-control {
    .input-wrapper {
      display: flex;
      align-items: center;
      .email {
        margin-right: 10px;
      }
      .email,
      .password {
        position: relative;
        display: flex;
        flex-direction: column;
        width: 100%;
        .error-message {
          position: absolute;
          top: 85px;
          left: 20px;
          color: #d40d1e;
        }
        .input-auth {
          margin-top: 10px;
          background: #ffffff;
          border: 1px solid #b7c3d6;
          box-sizing: border-box;
          border-radius: 40px;
          height: 50px;
          padding: 0px 20px;

          &:focus {
            outline: none;
            border: 1px solid #5db678;
            box-shadow: 0px 4px 10px rgba(93, 182, 120, 0.5);
            box-sizing: border-box;
            border-radius: 40px;
            height: 50px;
          }
          &.invalid {
            border: 1px solid #d40d1e;
            box-shadow: 0px 4px 10px rgba(248, 53, 4, 0.5);
          }
        }

        label {
          margin-left: 20px;
        }
      }
    }
  }
}

.reg__container {
  .form-control {
    .input-wrapper {
      .name-wrapper,
      .data-wrapper {
        display: flex;
        align-items: center;
      }
      .name-wrapper {
        margin-bottom: 20px;
      }
      .email,
      .first-name {
        margin-right: 10px;
      }
      .email,
      .password,
      .first-name,
      .last-name {
        position: relative;
        display: flex;
        flex-direction: column;
        width: 100%;
        .error-message {
          position: absolute;
          top: 85px;
          left: 20px;
          color: #d40d1e;
        }
        .input-auth {
          margin-top: 10px;
          background: #ffffff;
          border: 1px solid #b7c3d6;
          box-sizing: border-box;
          border-radius: 40px;
          height: 50px;
          padding: 0px 20px;

          &:focus {
            outline: none;
            border: 1px solid #5db678;
            box-shadow: 0px 4px 10px rgba(93, 182, 120, 0.5);
            box-sizing: border-box;
            border-radius: 40px;
            height: 50px;
          }
          &.invalid {
            border: 1px solid #d40d1e;
            box-shadow: 0px 4px 10px rgba(248, 53, 4, 0.5);
          }
        }

        label {
          margin-left: 20px;
        }
      }
    }
  }
}
